In [0]:
%sql
use catalog hive_metastore;

In [0]:
%sql
create table rks_employee(emp_id Int, name String, salary double)

In [0]:
%sql
insert into rks_employee 
values
  (1, "Adam", 3500.0),
  (2, "Sarah", 4020.5);

In [0]:
%sql
INSERT INTO rks_employee
VALUES
  (3, "John", 2999.3),
  (4, "Thomas", 4000.3);

INSERT INTO rks_employee
VALUES
  (5, "Anna", 2500.0);

INSERT INTO rks_employee
VALUES
  (6, "Kim", 6200.3)

In [0]:
%sql
select * from rks_employee;

In [0]:
%sql
update rks_employee
set salary = salary + 1000
where name like 'A%';

In [0]:
%sql
describe detail rks_employee

In [0]:
%sql
describe history rks_employee;

In [0]:
%fs ls dbfs:/user/hive/warehouse/rks_employee/

In [0]:
%fs ls dbfs:/user/hive/warehouse/rks_employee/_delta_log/

In [0]:
%fs head dbfs:/user/hive/warehouse/rks_employee/_delta_log/00000000000000000000.json